.loading-spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--text-info-color);
  border-color: var(--text-info-color) transparent var(--text-info-color)
    transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
