.button-wrapper {
  background-color: #fff;
  padding: 4px 8px;
  display: block;
  border: 2px solid #eee;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 100px;
  max-width: 140px;
  outline: none;
  line-height: 32px;
  cursor: pointer;
}

.button-wrapper:hover {
  border-color: #c8c8c8;
}
